services:
  grafana:
    container_name: nineteen-grafana
    image: grafana/grafana
    restart: always
    environment:
      # these are the defaults, you should probably change them in deployment
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USERNAME:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD:-admin}
      GF_INSTALL_PLUGINS: redis-datasource
      REDIS_HOST: ${REDIS_HOST:-redis://redis:6379}
    volumes:
      - grafana:/var/lib/grafana
      - ./config/grafana-datasource.yaml:/etc/grafana/provisioning/datasources/otel.yaml
      - ./config/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./config/grafana-validator-errors.json:/var/lib/grafana/dashboards/grafana-validator-errors.json
      - ./config/grafana-validator-general.json:/var/lib/grafana/dashboards/grafana-validator-general.json
      - ./config/grafana-redis-realtime.json:/var/lib/grafana/dashboards/grafana-redis-realtime.json
    ports:
      - ${GRAFANA_PORT:-3000}:3000

  otel-collector:
    container_name: nineteen-otel-collector
    image: otel/opentelemetry-collector-contrib:0.106.1
    restart: always
    ports:
      - "4317:4317"
    volumes:
      - ./config/otel-config.yaml:/etc/otelcol-contrib/config.yaml

  tempo-init:
    scale: 0
    container_name: nineteen-tempo-init
    image: grafana/tempo:latest
    restart: on-failure
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - tempo:/var/tempo

  tempo:
    scale: 0
    container_name: nineteen-tempo
    image: grafana/tempo:latest
    restart: always
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - tempo:/var/tempo
      - ./config/tempo-config.yaml:/etc/tempo.yaml
    depends_on:
      - tempo-init
      - redis

  loki:
    container_name: nineteen-loki
    image: grafana/loki:main
    restart: always
    volumes:
      - loki:/loki
      - ./config/loki-config.yaml:/etc/loki/local-config.yaml

  prometheus:
    container_name: nineteen-prometheus
    image: prom/prometheus
    restart: always
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=7d
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/console
    volumes:
      - prometheus:/prometheus
      - ./config/prometheus-config.yaml:/etc/prometheus/prometheus.yml

volumes:
  grafana:
  tempo:
  loki:
  prometheus:
