include:
  - ./docker-compose.observability.yml

services:
  control_node:
    container_name: control_node
    build:
      context: .
      dockerfile: dockerfiles/control_node.dockerfile
    depends_on:
      dbmate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    entrypoint: ["opentelemetry-instrument", "--logs_exporter", "otlp", "--traces_exporter", "otlp", "--metrics_exporter", "otlp", "--service_name", "control_node", "python", "-u", "/app/validator/control_node/src/main.py"]
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    env_file:
      - .vali.env
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
      OTEL_PYTHON_LOG_CORRELATION: "true"
    deploy:
      restart_policy:
        condition: on-failure

  weight_setter:
    container_name: weight_setter
    build:
      context: .
      dockerfile: dockerfiles/control_node.dockerfile
    depends_on:
      dbmate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    entrypoint: [ "python", "-u", "/app/validator/control_node/src/set_weights/calculate_and_schedule_weights.py" ]
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    env_file:
      - .vali.env
    deploy:
      restart_policy:
        condition: on-failure

  hybrid_node:
    build:
      context: .
      dockerfile: dockerfiles/hybrid_node.dockerfile
    scale: 4
    deploy:
      restart_policy:
        condition: on-failure
    depends_on:
      - redis
      - postgresql
    ports:
      - "6919:6919"
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    entrypoint: ["opentelemetry-instrument", "--logs_exporter", "otlp", "--traces_exporter", "otlp", "--metrics_exporter", "otlp", "--service_name", "hybrid_node", "python", "-u", "/app/validator/hybrid_node/src/main.py"]
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
      OTEL_PYTHON_LOG_CORRELATION: "true"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
      ENV: ${ENV}
      NETUID: ${NETUID}
    env_file:
      - .vali.env
    healthcheck:
      test: curl -f http://localhost:6919/docs || exit 1
      interval: 10s
      timeout: 2s
      retries: 3
      
  nginx_lb:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - hybrid_node
    network_mode: "host"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/nginxhealth"]
      interval: 30s
      timeout: 10s
      retries: 3
    dns_search: .
    dns: 127.0.0.11

  postgresql:
    container_name: 0_postgresql
    image: postgres:latest
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_MAX_CONNECTIONS: 500
    command: ["postgres", "-c", "max_connections=500"]


  dbmate:
    container_name: 0_dbmate_nineteen
    image: amacneil/dbmate
    volumes:
      - ./validator/db:/db
    command: --wait up
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      postgresql:
        condition: service_healthy

  redis:
    container_name: 0_redis
    image: redis/redis-stack:latest
    deploy:
      restart_policy:
        condition: on-failure

  # if you want this, scale it to `1`
  adminer:
    scale: 0
    container_name: 0_adminer
    image: adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: postgresql
      ADMINER_DESIGN: nette
      ADMINER_PLUGINS: tables-filter tinymce
    ports:
      - 5051:8080
    depends_on:
      postgresql:
        condition: service_healthy

  # if you want this, scale it to `1`
  redis-commander:
    scale: 0
    container_name: 0_redis_commander
    image: ghcr.io/joeferner/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - '8081:8081'
    depends_on:
      - redis

  # if you want this, scale it to `1`
  redis-proxy:
    scale: 0
    container_name: 0_redis_proxy
    image: hpello/tcp-proxy
    command: redis 6379
    ports:
      - 127.0.0.1:6379:6379
    depends_on:
      - redis

  # if you want this, scale it to `1`
  postgres-proxy:
    scale: 0
    container_name: 0_postgres_proxy
    image: hpello/tcp-proxy
    command: postgresql 5432
    ports:
      - 127.0.0.1:5432:5432
    depends_on:
      - postgresql
