include:
  - ./docker-compose.observability.yml

services:
  control_node:
    container_name: nineteen-control-node
    build:
      context: .
      dockerfile: dockerfiles/control_node.dockerfile
    depends_on:
      dbmate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    entrypoint: ["opentelemetry-instrument", "--logs_exporter", "otlp", "--traces_exporter", "otlp", "--metrics_exporter", "otlp", "--service_name", "control_node", "python", "-u", "/app/validator/control_node/src/main.py"]
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    env_file:
      - .vali.env
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
      OTEL_PYTHON_LOG_CORRELATION: "true"
    deploy:
      restart_policy:
        condition: on-failure

  weight_setter:
    container_name: nineteen-weight-setter
    build:
      context: .
      dockerfile: dockerfiles/control_node.dockerfile
    depends_on:
      dbmate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    entrypoint: [ "python", "-u", "/app/validator/control_node/src/set_weights/calculate_and_schedule_weights.py" ]
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    env_file:
      - .vali.env
    deploy:
      restart_policy:
        condition: on-failure

  query_node:
    container_name: nineteen-query-node
    build:
      context: .
      dockerfile: dockerfiles/query_node.dockerfile
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
      restart_policy:
        condition: on-failure
    depends_on:
      - redis
      - postgresql
    volumes:
      - ${HOME}/.bittensor/wallets:/root/.bittensor/wallets
    entrypoint: ["opentelemetry-instrument", "--logs_exporter", "otlp", "--traces_exporter", "otlp", "--metrics_exporter", "otlp", "--service_name", "query_node", "python", "-u", "/app/validator/query_node/src/main.py"]
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
      OTEL_PYTHON_LOG_CORRELATION: "true"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
      ENV: ${ENV}
      NETUID: ${NETUID}
    env_file:
      - .vali.env

  entry_node:
    container_name: nineteen-entry-node
    build:
      context: .
      dockerfile: dockerfiles/entry_node.dockerfile
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
      restart_policy:
        condition: on-failure
    depends_on:
      - redis
      - postgresql
    ports:
      - "${ORGANIC_SERVER_PORT:-8091}:${ORGANIC_SERVER_PORT:-8091}"  # TODO: Remove this, go via the caddy server
    entrypoint: ["opentelemetry-instrument", "--logs_exporter", "otlp", "--traces_exporter", "otlp", "--metrics_exporter", "otlp", "--service_name", "entry_node", "python", "-u", "/app/validator/entry_node/src/server.py"]
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED: "true"
      OTEL_PYTHON_LOG_CORRELATION: "true"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
      ENV: ${ENV}
    env_file:
      - .vali.env
    profiles:
      - entry_node_profile

  postgresql:
    container_name: nineteen-postgresql
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}

  dbmate:
    container_name: nineteen-dbmate
    image: amacneil/dbmate
    volumes:
      - ./validator/db:/db
    command: --wait up
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      postgresql:
        condition: service_healthy

  redis:
    container_name: nineteen-redis
    image: redis/redis-stack:latest
    deploy:
      restart_policy:
        condition: on-failure

  # if you want this, scale it to `1`
  adminer:
    scale: 0
    container_name: nineteen-adminer
    image: adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: postgresql
      ADMINER_DESIGN: nette
      ADMINER_PLUGINS: tables-filter tinymce
    ports:
      - 5051:8080
    depends_on:
      postgresql:
        condition: service_healthy

  # if you want this, scale it to `1`
  redis-commander:
    scale: 0
    container_name: nineteen-redis-commander
    image: ghcr.io/joeferner/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - '8081:8081'
    depends_on:
      - redis

  # if you want this, scale it to `1`
  redis-proxy:
    scale: 0
    container_name: nineteen-redis-proxy
    image: hpello/tcp-proxy
    command: redis 6379
    ports:
      - 127.0.0.1:6379:6379
    depends_on:
      - redis

  # if you want this, scale it to `1`
  postgres-proxy:
    scale: 0
    container_name: nineteen-postgres-proxy
    image: hpello/tcp-proxy
    command: postgresql 5432
    ports:
      - 127.0.0.1:5432:5432
    depends_on:
      - postgresql

volumes:
  postgres_data:
